.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

header {
  background-color: red;
  color: white;

  height: 150px;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header div ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 15px;
}

.current {
  color: #333;
}
